* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: hsl(0, 0%, 20%);
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

img.userSnapshot-spinner {
  width: 45px;
  height: 45px;
  display: block;
  margin: 25% auto 0 auto;
}

div.userSnapshot-noAccessMessage {
  margin: 20px;
  opacity: 0.8;
}

div:focus {outline:0;}

div.rootInnerWrapper {
  max-width: 1000px;
  margin: 20px auto 150px auto;
}

div.navbar-wrapper {
  padding: 5px 15px;
  margin-bottom: 30px;
}

a.navbar-telescope-logo-link {
  text-decoration: none;
  vertical-align: middle;
}

img.navbar-telescope-logo {
  width: 30px;
  height: 30px;
  transition: transform 150ms ease-out;
}

img.navbar-telescope-logo:hover {
  transform: scale(1.2);
  transition: all 150ms ease-out;
}

p.navbar-telescope-logotitle {
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 0px 0px 0px 5px;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: hsl(0, 0%, 20%);
}

div.navbar-float-box {
  display: inline-block;
  float: right;
}

a.navbar-newWeek-link {
  color: hsl(0, 0%, 5%);
  text-decoration: none;
  padding: 10px 12px;
  background-color: hsl(0, 0%, 95%);
  margin-right: 15px;
  border-radius: 6px;
}

a.navbar-newWeek-link:hover {
  background-color: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 1%);
}

p.navbar-wrap-box {
  color: hsl(0, 0%, 5%);
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 10px 12px;
  border-radius: 6px;
  background-color: hsl(0, 0%, 95%);
}

p.navbar-wrap-box:hover {
  background-color: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 1%);
}

p.navbar-get-started {
  border: 1px black solid;
  border-radius: 5px;
  padding: 8px 10px;
}

div.nabvar-profileMenu {
  display: inline-block;
  position: relative;
  margin: 0px;
  cursor: pointer;
}

div.navbar-profileMenuContents {
  border-radius: 8px 0px 8px 8px;
  padding: 10px 15px;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  min-width: 150px;
  top: 55px;
  right: 0px;
}

p.navbar-profileMenuOptions {
  display: block;
  padding: 8px 0px;
  margin: 0px 0px;
  float: right;
}

a.weekCard-alink{
  width: 224px;
  padding: 15px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 9px;
  height: 230px;
  display: inline-block;
  text-decoration: none;
  box-shadow: 3 3px 5px 0 rgba(0, 0, 0, .3);
  transition: transform 250ms ease-out, box-shadow 250ms ease-out, background-color 250ms ease-out;
}

a.weekCard-alink:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, .2);
  /* background-color: rgba(0, 0, 0, .04); */
  transition: all 200ms ease-out;
  /* transform: scale(1.025); */
}

a.weekCard-alink.boardCard {
  color: rgba(0, 0, 0, .55);
  border: solid 1px rgba(0, 0, 0, .55);
  background-color: hsla(0,100%,0%, 0.04);
}

a.weekCard-alink.boardCard:hover {
  background-color: hsla(0,100%,0%, 0.065);
}

div.weekCardsWrapper-div {
  padding: 40px 20px 20px 20px;
}

p.weekCardsWrapper-title {
  color: #62676d;
  display: inline-block;
  margin-bottom: 0px;
}

div.weekCardsWrapper-noWeeksDiv {
  display:block;
  margin: auto;
  opacity: 0.6;
  transition: opacity 300ms ease-out;
  font-size: 19px;
  text-align: center;
}

div.weekCardsWrapper-noWeeksDiv:hover {
  opacity: 0.75;
  transition: opacity 200ms ease-out;
}

img.weekCardsWrapper-noWeeksImage {
  width: 90%;
  display: block;
  margin: auto;
}

input {
  font-family: inherit;
}

input::placeholder {
  color: inherit;
  opacity: 0.4;
  font-family: inherit;
}

p.weekCard-weekOf {
  margin-top: 5px;
  margin-bottom: 0px;
}

p.weekCard-date {
  margin: 0px;
  font-size: 22px;
}

p.weekCard-percentage {
  margin-top: 32px;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  transform: translateY(2px);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

p.weekCard-percentage.showPercentage {
  transform: translateY(0px);
  opacity: 1;
  /* transform: scale(1.1); */
  transition: all 200ms ease-out;
}

div.weekCard-div {
}

li.weekCard-li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

ul.weekCardsWrapper-ul {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 12px;
  max-width: 1200px;
}

div.weekPage-background {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(125, 114, 255, 0.925);
  z-index:9;
}

div.newWeekPage-background {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255, 185, 54, 0.925);
  z-index:9;
}

div.weekPage-background.boardPage-background {
  background-color: rgba(70,70,70, 0.85);
}

div.weekPage-container {
  height: 85%;
  margin: auto;
  vertical-align: center;
  background-color: white;
  padding: 0px 30px;
  /* color: white; */
  max-width: 900px;
  border-radius: 9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index:11;
}

div.weekPage-container-closemodal.boardPage-container-closemodal {
  position: fixed;
  top: 10px;
  right: 10px;
  /* color: white; */
}

div.newWeekPage-container {
  height: 85%;
  margin: auto;
  vertical-align: center;
  background-color: white;
  padding: 0px 30px;
  max-width: 900px;
  border-radius: 9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index:11;
}

input.newWeekPage-form-date {
  background-color: inherit;
  color: inherit;
  border: none;
  margin-top: 14px;
  font-size: 40px;
  display: inline-block;
  letter-spacing: -1px;
}

input.newWeekPage-form-percentage {
  background-color: inherit;
  color: inherit;
  font-size: 50px;
  border: none;
}

div.boardPageContent-noGoalsDiv {
  margin-left: 30%;
  margin-top: 60px;
  width: 40%;
  text-align: center;
  display: inline-block;
}

img.boardPageContent-noGoalsImg {
  height: 300px;
  text-align: center;
  opacity: 0.8;
}

p.boardPageContent-noGoalsText {
  text-align: center;
  font-size: 20px;
  margin: 0px;
  color: hsl(0, 0%, 45%);
}

form.boardPageContent-newGoalForm {
}

div.weekPageContent-newGoalFormWrapper {
  position: sticky;
  top: 0px;
  padding: 30px 0px 10px 0px;
  background-color: white;
}

input.boardPageContent-newGoalForm-title {
  border: 0px;
  color: inherit;
  width: 88%;
  border: 1px solid  hsl(0, 0%, 20%);
  background-color: white;
  font-size: 17px;
  padding: 12px;
  border-radius: 4px;
}

input.boardPageContent-newGoalForm-title:hover {
  border: 1px solid  hsl(0, 0%, 40%);
}

input.boardPageContent-newGoalForm-title::placeholder {
  color: hsl(0, 0%, 25%);
}


input.boardPageContent-newGoalForm-title:focus {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, .06);
}

p.weekPageContent-newgoallabel {
  margin: 5px 0px;
}

p.weekPageContent-weekOfSubtitle {
  margin-bottom: 0px;
  color: hsl(0, 0%, 50%);
}

h2.weekPageContent-date {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  display: block;
}

p.weekPageContent-percentageText {
  font-weight: 300;
  font-size: 40px;
  margin: 0px;
  margin-bottom: -10px;
  display: inline-block;
}

p.weekPageContent-numberofgoals {
  float: right;
  display: block;
  margin-top: 5px;
  margin-right: 8px;
  opacity: 0.4;
}

div.weekPageContent-wrapper {
  padding: 0px;
}

button,input:focus {outline:0;}

button.weekPage-closeModal {
  font-size: 24px;
  color: black;
  opacity: 0.1;
  position: absolute;
  top: 23px;
  left: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 200ms ease-out;
}

button.weekPage-closeModal:hover {
  opacity: 0.6;
  transition: all 150ms ease-out;
}

button.weekPage-moreInfoModal {
  font-size: 24px;
  color: black;
  opacity: 0.1;
  position: absolute;
  top: 23px;
  left: 55px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 200ms ease-out;
}

button.weekPage-moreInfoModal:hover {
  opacity: 0.6;
  transition: all 150ms ease-out;
}

button.weekPage-addNewGoalButton {
  cursor: pointer;
  padding: 12px;
  float: right;
  background-color: hsl(0, 0%, 25%);
  border: 1px hsl(0, 0%, 25%) solid;
  color: white;
  border-radius: 9px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: background-color 200ms ease-out;
}

button.weekPage-addNewGoalButton:hover {
  background-color: hsl(0, 0%, 35%);
  transition: background-color 150ms ease-out;
}

div.goalLineWrapper {
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 17px;
  border-radius: 9px;
  padding: 14px 14px;
  margin: 10px 0px;
  transition: border 200ms ease-out;
}

div.goalLineWrapper:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: border 200ms ease-out;
}

div.goalLineWrapper.goalLineWrapper-completed {
  background-color: rgba(0, 0, 0, 0.03);
  transition: all 200ms ease-out;
}

div.goalLineWrapper.goalLineWrapper-completed:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: all 200ms ease-out;
}

div.goalLineInput{
  background-color: none;
  border: none;
  width: 89%;
  display: inline-block;
}

div.goalsWrapper {
  padding: 0px 0px 90px 0px;
  width: 65%;
  display: inline-block;
}

div.goalsWrapper.weekPageGoalsWrapper {
  padding-top: 20px;
}

div.weekPageContent-goalsdata {
  float: left;
  position: sticky;
  top: 30px;
  width: 35%;
  margin: 100px 0px 0px 0px;
  padding: 0px 20px 10px 0px;
}

input.goalLineCheck {
  float: left;
  margin: 2px 13px 2px 0px;
  vertical-align: middle;
}

span.goalLine-deletebuttonspan {
  padding: 1px;
 float: right;
 display: inline-block;
 cursor: pointer;
 opacity: 0.15;
}

span.goalLine-deletebuttonspan:hover {
 opacity: 0.7;
}

div.weekPageContent-datepicker-wrapper {
  margin: 0px 0px 15px 0px;
  width: 100%;
  /* text-align: center; */
}

div.weekPage-progressLineContainer {
}

div.weekPageContent-percentagesWrapper {
  padding: 0px 15px 0px 5px
}

button.newWeekPage-submitNewWeekButton {
  cursor: pointer;
  margin: 20px 0px;
  padding: 12px;
  background-color: hsl(0, 0%, 25%);
  border: 1px hsl(0, 0%, 25%) solid;
  color: white;
  border-radius: 9px;
  display: inline-block;
  text-align: center;
  transition: background-color 200ms ease-out;
}

button.newWeekPage-submitNewWeekButton:hover {
  background-color: hsl(0, 0%, 35%);
  transition: background-color 150ms ease-out;
}
