* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: hsl(0, 0%, 20%);
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}


div.userSnapshot-headlineWrapper {
  margin: auto;
  padding: 20px;
  margin-top: 90px;
  max-width: 550px;
  font-size: 2em;
  font-weight: bold;
}

div.userSnapshot-gridWrapper {
  padding: 60px 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
}

/* div.BoardCard-wrapper {
} */

a.cardWrapper-div {
  width: 100%;
  height: 100%;
  padding: 25px 35px;
  border-radius: 20px;
  transition: box-shadow 300ms ease;
  color: inherit;
}

a.cardWrapper-div:hover {
  transform: scale(1.085) !important;
  /* transform: translateY(-8px); */
  /* opacity: 0.9; */
  /* box-shadow: 0px 4px 20px rgba(0,0,0,.2); */
}

a.cardWrapper-div.analytics-card{
  background-color: transparent;
  background: rgb(198,227,255);
  background: -webkit-linear-gradient(bottom left, rgba(198,227,255,1) 0%, rgba(218,245,214,1) 100%);
  background: -o-linear-gradient(bottom left, rgba(198,227,255,1) 0%, rgba(218,245,214,1) 100%);
  background: linear-gradient(to top right, rgba(198,227,255,1) 0%, rgba(218,245,214,1) 100%);
}

/* a.cardWrapper-div.goals-card:hover {
} */

a.cardWrapper-div.goals-card {
  background-color: transparent;
  background: rgb(255,233,231);
  background: -webkit-linear-gradient(bottom left, rgb(255, 231, 210) 0%, rgb(255, 220, 255) 100%);
  background: -o-linear-gradient(bottom left, rgb(255, 231, 210) 0%, rgb(255, 220, 255) 100%);
  background: linear-gradient(to top right, rgb(255, 231, 210) 0%, rgb(255, 220, 255) 100%);
}

/* a.cardWrapper-div.analytics-card:hover {
} */

p.card-button-text {
  /* font-weight: 600; */
  margin-top: 25px;
  text-align: right;
  margin-bottom: 8px;
  color: inherit;
}

/* p.card-button-text.goals-button {
 color: #6969e8;
}

p.card-button-text.analytics-button {
 color: #db2a2a;
} */

img.GoalsCard-button-icon {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
  margin-left: 3px;
}

img.userSnapshot-spinner {
  width: 45px;
  height: 45px;
  display: block;
  margin: 25% auto 0 auto;
}

div.userSnapshot-noAccessMessage {
  margin: 20px;
}
div.userSnapshot-noAccessMessage p {
  opacity: 0.8;
}

div.userSnapshot-noAccessMessage a {
  opacity: 1;
}


div:focus {outline:0;}

div.rootInnerWrapper {
  max-width: 950px;
  margin: 20px auto 100px auto;
}

div.navbar-wrapper {
  padding: 5px 15px;
  margin-bottom: 30px;
}

a.navbar-telescope-logo-link {
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
}

img.navbar-eye-logo {
  width: 30px;
  height: 30px;
  transition: transform 150ms ease-out;
}

img.navbar-telescope-logo:hover {
  transform: scale(1.2);
  transition: all 150ms ease-out;
}

p.navbar-telescope-logotitle {
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 6px 5px 5px 5px;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: hsl(0, 0%, 20%);
}

div.navbar-float-box {
  float: right;
}

div.navbar-weekLinkWrapper {
  padding: 10px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: top;
  user-select: none;
}

a.navbar-newWeek-link {
  color: hsl(0, 0%, 5%);
  text-decoration: none;
  vertical-align: middle;
  padding: 9px 9px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 6px;
  transition: background-color 150ms ease-out;
}

a.navbar-newWeek-link:hover {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 1%);
  transition: background-color 150ms ease-out;
}

a.navbar-newWeek-link:active {
  background-color: hsl(0, 0%, 85%);
}

/*
img.navbar-wrap-box {
  user-select: none;
  color: hsl(0, 0%, 5%);
  display: inline-block;
  margin: 0;
  padding: 9px 9px;
  transition: background-color 150ms ease-out;
} */

img.navbar-usersvg {
  width: 29px;
  height: 29px;
  display: inline-block;
  transition: opacity 200ms ease-out;
  opacity: 0.8;
  cursor: pointer;
}

img.navbar-logosvg {
  opacity: 0.85;
  width: 34px;
  height: 34px;
  margin: 4px;
  transform: rotate(90deg);
  transition: opacity 250ms ease, transform 250ms ease;
}

img.navbar-logosvg:hover {
  /* opacity: 0.95; */
  transform: rotate(0deg);
}

img.navbar-usersvg:hover {
  opacity: 0.6;
}

p.navbar-get-started {
  border: 1px black solid;
  border-radius: 5px;
  padding: 8px 10px;
}

div.nabvar-profileMenu {
  display: inline-block;
  position: relative;
  padding: 4px;
}

div.navbar-profileMenuContents {
  z-index: 5;
  border-radius: 8px;
  padding: 8px 0px;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  min-width: 120px;
  top: 45px;
  right: 4px;
  cursor: default;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .2);
}

div.weekPageDropdownMenu-menuContents {
  z-index: 5;
  border-radius: 8px;
  padding: 8px 0px;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  min-width: 90px;
  top: 55px;
  left: 60px;
  cursor: default;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .2);
}

div.navbar-username-box {
  padding: 3px 4px;
  border-radius: 6px;
  transition: background-color 200ms ease;
  user-select: none;
}

div.navbar-username-box:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 95%);
}

div.navbar-username-box:active {
  background-color: hsl(0, 0%, 90%);
}

p.navbar-username {
  margin: 5px;
}

p.navbar-profileMenuUsername {
  display: block;
  width: 100%;
  padding: 8px 18px;
  margin: 0px 0px;
  text-align: right;
  transition: background-color 150ms ease-out;
  cursor: default;
  color: hsl(0, 0%, 20%);
}

p.navbar-profileMenuOptions {
  display: block;
  width: 100%;
  padding: 8px 18px;
  margin: 0px 0px;
  text-align: right;
  transition: background-color 150ms ease-out;
  cursor: pointer;
  text-decoration: none;
}

a.navbar-profileMenuOptionLink {
  text-decoration: none;
}

p.navbar-profileMenuOptions:hover {
  background-color: hsl(0, 0%, 90%);
  transition: background-color 150ms ease-out;
}

a.weekCard-alink{
  padding: 8px 15px 14px 15px;
  margin: 0px;
  border-radius: 9px;
  /* border-top: 1px solid rgba(0, 0, 0, .05); */
  /* height: 210px; */
  display: block;
  text-decoration: none;
  /* box-shadow: 3 3px 5px 0 rgba(0, 0, 0, .3); */
  transition: background-color 600ms ease, transform 600ms cubic-bezier(.2,.8,.2,1);
}

a.weekCard-alink:hover {
  transform: scale(1.07);
  /* border-top: 1px solid rgba(0, 0, 0, 0); */
  /* box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, .2); */
  /* background-color: rgba(0, 0, 0, .04); */
  /* transform: scale(1.025); */
}

a.weekCard-alink.boardCard {
  color: rgba(0, 0, 0, .65);
  border: solid 1px rgba(0, 0, 0, .65);
  background-color: hsla(0,100%,0%, 0.04);
}

a.weekCard-alink.boardCard:hover {
  background-color: hsla(0,100%,0%, 0.065);
}

div.weekCardsWrapper-div {
  padding: 40px 20px 20px 20px;
  display: block;
  max-width: 550px;
  margin: auto;
}

div.BoardWrapper-div {
  padding: 40px 20px 20px 20px;
  display: inline-block;
}

p.mainCardsWrapper-title {
  color: inherit;
  display: inline-block;
  margin-bottom: 2px;
  font-size: 0.8em;
}

p.weekCardsWrapper-title {
  /* display: inline-block; */
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 2em;
  font-weight: bold;
}

div.weekCardsWrapper-noWeeksDiv {
  display:block;
  margin: auto;
  opacity: 0.87;
  transition: opacity 300ms ease-out;
  font-size: 18px;
  text-align: center;
}

div.weekCardsWrapper-noWeeksDiv:hover {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

img.weekCardsWrapper-noWeeksImage {
  width: 100%;
  display: block;
  margin: auto;
  padding: 0px 15px;
}

input {
  font-family: inherit;
}

input::placeholder {
  color: inherit;
  opacity: 0.4;
  font-family: inherit;
}

p.weekCard-weekOf {
  margin-top: 5px;
  margin-bottom: 0px;
}

p.weekCard-date {
  margin: 0px;
  font-size: 24px;
  font-weight: 500;
}

p.mainCard-date {
  margin: 0px;
  font-size: 28px;
  font-weight: 600;
}

p.weekCard-percentage {
  /* margin-top: px; */
  font-size: 30px;
  font-weight: 400;
  float: right;
  margin:0px;
  margin-top: 12px;
}

p.weekCard-percentage.showPercentage {
  transform: translateY(0px);
  opacity: 1;
  /* transform: scale(1.1); */
  transition: all 200ms ease-out;
}

div.weekCard-div {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 0%;
}

li.weekCard-li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

div.weekCard-li {
  text-decoration: none;
  list-style: none;
  display: block;
  width: 100%;
}

ul.weekCardsWrapper-ul {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  width: 100%;
}

div.weekPage-background {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(125, 114, 255, 0.925);
  z-index:9;
}

div.newWeekPage-background {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255, 185, 54, 0.925);
  z-index:9;
}

div.weekPage-background.boardPage-background {
  background-color: rgba(70,70,70, 0.85);
}

div.weekPage-container {
  margin: auto;
  vertical-align: center;
  background-color: white;
  padding: 0px;
  /* color: white; */
  max-width: 880px;
  height: 85%;
  max-height: 605px;
  border-radius: 9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index:11;
}

div.weekPage-container.analyticsPage-container {
  max-width: 700px;
}

div.weekPage-container-closemodal.boardPage-container-closemodal {
  position: fixed;
  top: 10px;
  right: 10px;
  /* color: white; */
}

div.newWeekPage-container {
  max-height: 605px;
  height: 85%;
  margin: auto;
  vertical-align: center;
  background-color: white;
  padding: 0px;
  max-width: 880px;
  border-radius: 9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index:11;
}

div.welcomePage-container {
  height: 85%;
  margin: auto;
  vertical-align: center;
  background-color: white;
  padding: 0px 30px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index:11;
}

img.welcomePageContent-bigiconsvg {
  width: 30px;
  height: 30px;
  vertical-align: top;
  margin-left: 2px;
  opacity: 0.78;
}

input.newWeekPage-form-date {
  background-color: inherit;
  color: inherit;
  border: none;
  margin-top: 14px;
  font-size: 40px;
  display: inline-block;
  letter-spacing: -1px;
}

input.newWeekPage-form-percentage {
  background-color: inherit;
  color: inherit;
  font-size: 50px;
  border: none;
}

div.boardPageContent-noGoalsDiv {
  margin: auto;
  margin-top: 85px;
  text-align: center;
}

img.boardPageContent-noGoalsImg {
  max-height: 290px;
  max-width: 350px;
  text-align: center;
  opacity: 0.9;
}

p.boardPageContent-noGoalsText {
  text-align: center;
  font-size: 18px;
  margin: 0px;
  color: hsl(0, 0%, 45%);
}

form.boardPageContent-newGoalForm {
  margin-bottom: 5px;
}

div.weekPageContent-newGoalFormWrapper {
  position: sticky;
  top: 0px;
  padding: 30px 0px 10px 0px;
  background-color: white;
  z-index: 10;
}

input.boardPageContent-newGoalForm-title {
  border: 0px;
  color: inherit;
  width: 84%;
  border: 1px solid  hsl(0, 0%, 20%);
  background-color: white;
  padding: 12px;
  border-radius: 6px;
  appearance: none;
}

input.boardPageContent-newGoalForm-title:hover {
  border: 1px solid  hsl(0, 0%, 40%);
}

input.boardPageContent-newGoalForm-title::placeholder {
  color: hsl(0, 0%, 25%);
}


input.boardPageContent-newGoalForm-title:focus {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, .06);
}

p.weekPageContent-newgoallabel {
  margin: 5px 0px;
}

p.weekPageContent-weekOfSubtitle {
  margin-top: 30px;
  margin-bottom: 0px;
  color: hsl(0, 0%, 35%);
}

h2.weekPageContent-date {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  display: block;
}

h3.weekPageContent-completiontitle {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 20px;
  display: block;
}

h2.analyticsPageContent-title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 24px;
  display: block;
}

div.boardPageTitle-editable {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
}

div.boardPageTitle-editable:focus {
  background-color: hsl(0, 0%, 95%);
}

p.weekPageContent-percentageText {
  font-weight: 300;
  font-size: 26px;
  margin: 0px;
  margin-bottom: -10px;
  display: inline-block;
  font-variant-numeric: tabular-nums;
}

div.weekPageContent-percentagesText-flex {
  display: flex;
  align-items: baseline;
}

p.flexGrow-one {
  flex-grow: 1;
  margin-top: 23px;
}

p.flexGrow-zero {
  flex-grow: 0;
}

span.weekPageContent-percentageText-NA {
  opacity: 0.15;
}

p.weekPageContent-numberofgoals {
  float: right;
  display: block;
  margin-top: 5px;
  margin-right: 8px;
  opacity: 0.4;
}

div.weekPageContent-wrapper {
  padding: 0px;
  height: 100%;
}


div.weekPageContent-percentagesContainer {
  background-color: white;
  padding: 5px 25px 10px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, .1);
}

div.welcomePageContent-wrapper {
  position: relative;
  padding: 40px 20px;
  font-size: 18px;
  height: 100%;
}

button,input:focus {outline:0;}

button.weekPage-closeModal {
  padding-left: 0px;
  font-size: 24px;
  color: black;
  opacity: 0.3;
  /* position: absolute; */
  /* top: 0px;
  left: 0px; */
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 200ms ease-out;
}

button.weekPage-closeModal:hover {
  opacity: 0.8;
  transition: all 150ms ease-out;
}

button.weekPage-moreInfoModal {
  font-size: 24px;
  color: black;
  opacity: 0.3;
  /* position: absolute; */
  display: inline-block;
  margin: 0px;
  margin-left: 3px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 200ms ease-out;
}

div.weekPageDropdownMenu-wrapper {
  display: inline-block;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

button.weekPage-moreInfoModal:hover {
  opacity: 0.8;
  transition: all 150ms ease-out;
}

div.weekPage-buttonsWrapper {
  margin-bottom: 20px;
}

button.weekPage-addNewGoalButton {
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, .3);
  cursor: pointer;
  padding: 13px 20px;
  float: right;
  background-color: hsl(0, 0%, 25%);
  border: 0px;
  color: white;
  border-radius: 6px;
  /* display: inline-block; */
  text-align: center;
  vertical-align: middle;
  transition: background-color 200ms ease-out;
}

button.weekPage-addNewGoalButton:hover {
  background-color: hsl(0, 0%, 35%);
  transition: background-color 150ms ease-out;
}

div.goalLineWrapper {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  padding: 14px 10px 14px 12px;
  margin: 0px 0px 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: background-color 200ms ease;
  display: flex;
  align-items: flex-start;
}

div.goalLineWrapper:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

div.goalLineWrapper.goalLineWrapper-completed {
  /* background-color: rgba(0, 0, 0, 0.03); */
  transition: text-decoration 200ms ease;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}

div.goalLineWrapper.goalLineWrapper-completed:hover {
  background-color: rgba(0, 0, 0, 0.06);
  transition: all 200ms ease-out;
}

.goalLineInput{
  background-color: none;
  border: none;
  /* width: 89%; */
  display: inline-block;
  text-decoration: inherit;
  color: inherit;
  flex-grow: 1;
  margin: 0px 6px;
}

div.goalsWrapper {
  padding: 0px 30px 90px 30px;
  width: 61.25%;
  display: inline-block;
  height: 100%;
  overflow: scroll;
}

div.goalsWrapper.weekPageGoalsWrapper {
  padding-top: 0px;
}

div.weekPageContent-goalsdata {
  float: left;
  position: sticky;
  top: 25px;
  width: 38.75%;
  /* background-color: rgba(245, 245,245, 1); */
  background-color: transparent;
  /* margin: 25px 0px 0px 0px; */
  padding: 25px 30px 10px 30px;
  height: 100%;
  border-radius: 9px 0px 0px 9px;
}

div.weekPageContent-goalsdata.boardPageData {
  /* background-image: url('../images/snowymint.jpg'); */
  background-color: transparent;
  background: rgb(255,233,231);
  background: -webkit-linear-gradient(bottom left, rgb(255, 231, 210) 0%, rgb(255, 220, 255) 100%);
  background: -o-linear-gradient(bottom left, rgb(255, 231, 210) 0%, rgb(255, 220, 255) 100%);
  background: linear-gradient(to top right, rgb(255, 231, 210) 0%, rgb(255, 220, 255) 100%);
  /* background-size: 300%; */
  /* background-position: center top; */
}

div.weekPageContent-goalsdata.weekPageData {
  /* background-image: url('../images/sunset.jpg'); */
  background-color: #f6f6f6;
  background-size: 300%;
  background-position: left top;
}

input.goalLineCheck {
  float: left;
  margin: 2px 6px 2px 0px;
  vertical-align: middle;
  font-size: 18px;
}

span.goalLine-deletebuttonspan {
  padding: 0px 5px;
  /* margin-top: -7px; */
  /* float: right; */
 /* display: inline-block; */
 cursor: pointer;
 opacity: 0.25;
 transition: transform 250ms ease, opacity 250ms ease;
}

span.goalLine-deletebuttonspan:hover {
  /* transform: rotate(90deg); */
   opacity: 0.9;
}

div.weekPageContent-datepicker-wrapper {
  margin: 0px 0px 15px 0px;
  width: 100%;
  /* text-align: center; */
}

div.weekPage-progressLineContainer {
  margin-bottom: 10px;
  margin-top: -7px;
}

div.weekPageContent-percentagesWrapper {
  padding: 0px;
}

button.newWeekPage-submitNewWeekButton {
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, .3);
  margin: 10px 0px 20px 0px;
  padding: 12px;
  background-color: hsl(0, 0%, 25%);
  border: 0;
  color: white;
  border-radius: 9px;
  display: inline-block;
  text-align: center;
  transition: background-color 200ms ease-out;
}

button.newWeekPage-submitNewWeekButton:hover {
  background-color: hsl(0, 0%, 35%);
  transition: background-color 150ms ease-out;
}

button.newWeekPage-submitNewWeekButton:disabled {
  background-color: hsl(0, 0%, 85%);
  transition: background-color 150ms ease-out;
  cursor: default;
}

a.newWeekPage-noGoalsText-LinkToBoard {
  text-decoration: underline;
}

div.welcomePageContent-content {
  height: 350px;
}

p.welcomePageContent-index {
  margin: 0;
  opacity: 0.5;
  position: fixed;
  top: 25px;
  right: 25px;
}

p.welcomePageContent-threefeatures {
  padding-left: 30px;
}

p.welcomePageContent-nextButton {
  user-select: none;
  cursor: pointer;
  margin-top: 0px;
  width: 48%;
  float: right;
  padding: 10px 14px;
  border: 1px #ebebeb solid;
  border-radius: 6px;
  text-align: center;
  transition: border 200ms ease, transform 100ms ease;
}

h2.welcomePageContent-TourPageTitle {
  margin: 18px 0px;
}

strong.welcomePageContent-boldWordWork {
  color: rgb(132, 116, 255);
}

strong.welcomePageContent-boldWordPersonal {
  color: rgb(255, 118, 167);
}

span.welcomePageContent-TourPageTitle-Lighter {
  font-weight: 500;
  color: hsl(0, 0%, 35%);
}

p.welcomePageContent-backButton {
  float: left;
}

p.welcomePageContent-nextButton:hover {
  border: 1px hsl(0, 0%, 20%) solid;
}

p.welcomePageContent-nextButton:active {
  transform: scale(0.96);
}

span.welcomePageContent-emoji {
  font-size: 1.2em;
}

div.welcomePageContent-percentagesBox {
  background-color: rgb(245, 245, 245);
  padding: 5px 20px;
  border-radius: 6px;
}

h2.newWeekPageContent-GoalsTitle {
  margin: 0;
}

p.newWeekPageContent-GoalsSubtitle {
  margin: 5px 0 0 0;
  font-size: 0.85em;
  color: #a0a0a0;
}

div.AnalyticsPageWrapper {
  height: 100%;
  width: 100%;
  padding: 30px;
  overflow: hidden;
}

/* div.AnalyticsPageWrapper h2 {
  display: inline-block;
} */

div.AnalyticsPageContent-Chart {
  overflow: scroll;
  height: 100%;
  width: 100%;
}

div.analyticsPageContent-noWeeksDiv {
  text-align: center;
  top: 40%;
  transform: translateY(-45%);
  position: relative;
}

img.analyticsPageContent-noWeeksImg {
  max-height: 310px;
  text-align: center;
  max-width: 100%;
}

div.analyticsPageContent-legend {
  text-align: center;
  position: sticky;
  margin: 20px auto 20px auto;
}

span.analyticsPageContent-lineDiv {
  padding: 6px 10px;
  margin: 0px 8px;
}

span.analyticsPageContent-lineDiv.work {
  border-bottom: solid 3px #8c6dff;
}

span.analyticsPageContent-lineDiv.personal {
  border-bottom: solid 3px #ff59a8;
}

span.analyticsPageContent-lineDiv.overall {
  color: black;
  background: rgb(255,194,189);
  background: linear-gradient(90deg, rgba(255,194,189,0.4) 0%, rgba(190,178,255,0.4) 48%, rgba(172,255,164,0.4) 100%);
}

img.WelcomePageContent-GetStarted-Image {
  width: 100%;
  margin: auto;
}

span.categoryPill-outerSpan {
  border-radius: 50%;
  display: inline-block;
  /* max-width: max-content; */
  font-size: 0.9em;
  min-width: 14px;
  min-height: 14px;
  margin-right: 5px;
  margin-left: 0px;
  margin-top: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0 rgb(255, 255, 255);
  transition: transform 200ms ease, background-color 300ms ease;
}

span.categoryPill-outerSpan:hover {
  transform: scale(1.25);
}

div.categoryPill-menu {
  font-size: 0.85em;
  z-index: 20;
  border-radius: 8px;
  padding: 5px 6px;
  position: absolute;
  top: 2px;
  left: 0px;
  cursor: default;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .2);
  width: max-content;
  user-select: none;
  color: hsl(0, 0%, 20%);
  box-sizing: content-box;
}

div.categoryPill-menu.noEdit {
  left: unset;
  right: 0px;
}

span.categoryPill-closeMenu {
  margin-left: 10px;
  opacity: 0.3;
  cursor: pointer;
}

span.categoryPill-closeMenu:hover {
  opacity: 1;
}

div.categoryPill-selectPill {
  border-radius: 8px;
  padding: 5px 6px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 3px;
  transition: filter 200ms ease;
}

div.categoryPill-selectPill:hover {
  filter: brightness(95%);
}

@media screen and (max-width: 700px) {

  div.userSnapshot-gridWrapper {
    grid-template-columns: 1fr;
  }

  div.newWeekPage-container {
    box-sizing:border-box;
    height: 98%;
    margin: 0px 7px;
    max-height: unset;
    overflow: hidden;
  }

  div.weekPage-container {
    box-sizing:border-box;
    height: 98%;
    margin: 0px 7px;
    max-height: unset;
    overflow: hidden;
  }

  div.weekPageContent-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    overflow-y: scroll;
  }

  div.goalsWrapper {
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 150px;
  }

  div.weekPageContent-goalsdata {
    float: none;
    display: block;
    top: 0px;
    width: 100%;
    position: sticky;
    top: -440px;
    border-radius: 9px;
    z-index: 201;
    box-shadow: 0px 4px 10px rgba(0,0,0,.15);
    padding: 20px 20px 10px 20px;
  }

  div.weekPageContent-goalsdata.weekPageData {
    top: -275px;
  }

  div.weekPageContent-goalsdata.newWeekPageData.weekPageData {
    top: -300px;
  }

  div.weekPageContent-datepicker-wrapper {
    text-align: center;
  }

  p.weekPageContent-percentageText {
    font-size: 22px;
  }

  /* div.weekPageContent-progressAndPercentageContainer {
  } */

  button.newWeekPage-submitNewWeekButton {
    margin-bottom: 5px;
    margin-top: 15px;
  }

  input.boardPageContent-newGoalForm-title {
    width: 72%;
  }

  div.boardPageContent-noGoalsDiv {
    margin-top: 30px;
  }

  div.welcomePage-container {
    height: 98%;
    margin: 0px 7px;
    max-height: unset;
    z-index:11;
  }

  div.welcomePageContent-buttons {
    bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 0.9em;
  }



  p.welcomePageContent-nextButton {
    width: 100%;
  }

  h2.welcomePageContent-TourPageTitle {
    font-size: 1.2em;
  }

  div.welcomePageContent-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  div.AnalyticsPageWrapper {
    padding: 20px;
  }

  img.boardPageContent-noGoalsImg {
    max-height: 220px;
    max-width: 260px;
  }

  div.categoryPill-menu {
    font-size: 1em;
  }

  span.categoryPill-outerSpan {
    transform: scale(1.25);
  }

  span.categoryPill-outerSpan:hover {
    transform: scale(1.35);
  }

  span.goalLine-deletebuttonspan {
    transform: scale(1.2);
  }

}
