html {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

div:focus {outline:0;}

div.rootInnerWrapper {
  max-width: 1150px;
  margin: 20px auto;
}

div.navbar-wrapper {
  padding: 5px 15px;
  margin-bottom: 30px;
}

a.navbar-telescope-logo-link {
  text-decoration: none;
  vertical-align: middle;
}

img.navbar-telescope-logo {
  width: 30px;
  height: 30px;
  transition: transform 150ms ease-out;
}

img.navbar-telescope-logo:hover {
  transform: scale(1.2);
  transition: all 150ms ease-out;
}

p.navbar-telescope-logotitle {
  text-decoration: none;
  display: inline-block;
  font-size: 34px;
  margin: 0px 0px 0px 5px;
  letter-spacing: -1.5px;
  font-weight: bold;
  color: hsl(0, 0%, 25%);
  /* transform: translateY(-2px); */
}

div.navbar-float-box {
  display: inline-block;
  float: right;
}

p.navbar-wrap-box {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
}

p.navbar-get-started {
  border: 1px black solid;
  border-radius: 5px;
  padding: 8px 10px;
}
a:visited {
  color: inherit;
}


a.weekCard-alink{
  color: white;
  width: 200px;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 9px;
  height: 220px;
  display: inline-block;
  text-decoration: none;
  background-color: rgb(125, 114, 255);
  box-shadow: 3 3px 5px 0 rgba(0, 0, 0, .3);
  transition: transform 250ms ease-out, box-shadow 250ms ease-out, background-color 250ms ease-out;
}

a.weekCard-alink:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, .3);
  transition: all 200ms ease-out;
  transform: scale(1.025);
}

div.weekCardsWrapper-div {
  padding: 40px 20px 20px 20px;
}

p.weekCardsWrapper-title {
  color: #62676d;
  display: inline-block;
  margin-bottom: 0px;
}

a.weekCardsWrapper-new {
  color: white;
  background-color: rgb(241, 119, 112);
  border-radius: 9px;
  text-decoration: none;
  display: inline-block;
  padding: 3px 6px;
  transition: transform 250ms ease-out, background-color 250ms ease-out;
}

a.weekCardsWrapper-new:hover {
  background-color: rgb(255, 162, 152);
  transition: all 200ms ease-out;
}

input {
  font-family: 'Karla';
}

input::placeholder {
  color: inherit;
  opacity: 0.4;
  font-family: 'Karla';
}

p.weekCard-date {
  margin-top: 5px;
  font-size: 24px;
}

p.weekCard-percentage {
  font-size: 36px;
  text-align: center;
}

li.weekCard-li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

ul.weekCardsWrapper-ul {
  padding: 0px;
  margin-bottom: 0px;
  max-width: 1200px;
}

div.weekPage-background {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0,0,0,0.7);
  z-index:9;
}

div.weekPage-container {
  height: 85%;
  margin: auto;
  vertical-align: center;
  background-color: rgb(105, 93, 255);
  padding: 20px;
  color: white;
  max-width: 900px;
  border-radius: 9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index:11;
}

div.newWeekPage-container {
  min-height: 85%;
  margin: auto;
  vertical-align: center;
  background-color: rgb(255, 162, 152);
  padding: 20px;
  color: white;
  max-width: 700px;
  border-radius: 9px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index:11;
}

input.newWeekPage-form-date {
  background-color: inherit;
  color: inherit;
  border: none;
  margin-top: 14px;
  font-size: 40px;
  display: inline-block;
  letter-spacing: -1px;
}

input.newWeekPage-form-percentage {
  background-color: inherit;
  color: inherit;
  font-size: 50px;
  border: none;
}

input.newWeekPage-form-submit {
  background-color: inherit;
  color: inherit;
  font-size: 26px;
  border: 3px white solid;
  border-radius: 9px;
  cursor: pointer;
  float: right;
  transition: background-color 150ms ease-out, color 150ms ease-out;
}

input.newWeekPage-form-submit:hover {
  background-color: white;
  color: rgb(250,128,114);
  transition: all 150ms ease-out;
}

h2.weekPageContent-date {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 40px;
  display: block;
}

p.weekPageContent-percentage {
  font-size: 50px;
  margin: 0px;
}

div.weekPageContent-wrapper {
  /* height: 100%; */
  padding: 15px;
}

button,input:focus {outline:0;}

button.weekPage-closeModal {
  font-size: 28px;
  color: white;
  opacity: 0.5;
  float: right;
  display: inline-block;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: opacity 150ms ease-out;
}

button.weekPage-closeModal:hover {
  opacity: 1;
  transition: all 150ms ease-out;
}

div.goalLineWrapper {
  background-color: inherit;
  border: 2px solid rgb(125, 114, 255);
  font-size: 18px;
  border-radius: 9px;
  padding: 10px 14px;
  margin: 12px 0px;
  transition: border 200ms ease-out;
}

div.goalLineWrapper:hover {
  border: 2px solid rgb(148, 139, 248);
  transition: border 200ms ease-out;
}

div.goalLineWrapper-completed {
  border: 2px rgb(125, 114, 255) solid;
  background-color: rgb(125, 114, 255);
  transition: all 200ms ease-out;
}

div.goalLineWrapper-completed:hover {
  border: 2px rgb(148, 139, 248) solid;
  background-color: rgb(148, 139, 248);
  transition: all 200ms ease-out;
}

span.goalLineSpan {
}

div.goalsWrapper {
  padding: 0px;
  width: 55%;
  display: inline-block;
}
div.weekPageContent-goalsdata {
  position: sticky;
  top: 25px;
  float: right;
  width: 40%;
  border: 2px rgb(125, 114, 255) solid;
  border-radius: 9px;
  margin: 12px 0px;
  padding: 12px;
}

input.goalLineInput {
  float: right;
  margin: 6px;
  vertical-align: middle;
}

/**************************/
/* HeroPage */
/**************************/

div.heropage-main {
  margin: auto;
  padding: 40px 0px;
}

img.heroPage-mainImage {
  width: 100%;
}

div.heropage-firstdiv {
  padding: 0px 30px;
}

div.heropage-firstdiv-left {
  width: 44%;
  display: inline-block;
  margin-top: 60px;
}

div.heropage-firstdiv-right {
  float: right;
  width: 55%;
}


h1.heropage-title {
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 4.5em;
  margin-top: 30px;
  color: hsl(0, 0%, 20%);
  line-height: 1em;
  margin-bottom: 0px;
}

p.heropage-subheader {
  margin-top: 20px;
  font-size: 1.6em;
  letter-spacing: -1px;
  color: hsl(0, 0%, 55%);
  line-height: 1.4em;
}

span.heropage-subheader-telescope-span {
  color: hsl(0, 0%, 25%);
}

input.heropage-form-input-email {
  border: none;
  width: 55%;
  background-color: hsla(0,0%,0%,0.05);
  border: 2px solid hsla(0,0%,0%,0.00);
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 18px;
}

input.heropage-form-input-email:focus {
  border: 2px solid hsla(0,0%,0%,0.2);
}

input.heropage-form-input-submit {
  border: none;
  background-color: #2d7ff9;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}

input.heropage-form-input-submit:hover {
  cursor: pointer;
  background-color: #135ac4;
}

p.heropage-alreadymember {
  color: hsl(0, 0%, 50%);
  margin-top: 20px;
  font-size: 0.9em;
}

a.heropage-alreadymember-login {
  color: hsl(0, 0%, 20%);
}
