
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: scale(1.02);
    transition: opacity 250ms ease, background-color 500ms ease, transform 250ms ease;
}

.ReactModal__Overlay--after-open {
  transform: scale(1);
  opacity: 1;
}
