
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: scale(1.1);
    transition: opacity 600ms ease, background-color 800ms ease, transform 600ms cubic-bezier(.2,.8,.2,1);
}

.ReactModal__Overlay--after-open {
  transform: scale(1);
  opacity: 1;
}
