<p>Welcome, <strong>@<%= @user.username %></strong>!</p>
<p>
    You have successfully signed up to Percent. You've now joined a community of people striving to 
    improve their lives every week :)<br />
    To login and start creating your goals, click <a href="<%= @url %>">here</a>.
</p>
<p>Thanks for joining, and have a great day!</p>

<p>Cheers,<br />
Nico</p>
<p>Founder, <a href="https://percent.me">Percent<a></p>