<div class="heropage-wrapper">
   <%= render 'layouts/navbar' %>
  <div class="heropage-main">
    <div class="heropage-firstdiv">
      <div class="heropage-firstdiv-left">
        <div class="heropage-producthuntbadge">
          <p class="heropage-alreadymember"></p>
          <a href="https://www.producthunt.com/posts/percent?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-percent" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=147344&theme=light" alt="Percent - Stop reliving the same day over and over | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
        </div>
        <h1 class="heropage-title">Break your simulation</h1>
        <p class="heropage-subheader">Stop reliving the same day over and over. Join <span class="heropage-subheader-telescope-span">Percent</span> today to track and improve your life each week.</p>
        <div class="heropage-formcontainer">
          <form action="/signup" method="GET" class="heropage-form">
            <input type="email" name="email" placeholder="Enter your email address" class="heropage-form-input-email"></input>
            <input type="submit" value="Get Started" class="heropage-form-input-submit"/>
          </form>
        </div>
        <p class="heropage-alreadymember">Already on Percent? <a href="/login" class="heropage-alreadymember-login">Sign in</a>.</p>
      </div>
      <div class="heropage-firstdiv-right">
        <%= image_tag("park.jpg", class: "heroPage-mainImage", :alt => "telescope", id: 'heroPageImage') %>
      </div>
    </div>
  </div>
  <div class="heropage-footer">
    <div class="heropage-footer-leftcontainer">
      <div class="heropage-footer-sub">
        <a href="mailto:nico@percent.me">Contact</a>
      </div>
      ·
      <div class="heropage-footer-sub">
        <a href="https://nico.gl?ref=percent" target="_blank">About</a>
      </div>
      ·
      <div class="heropage-footer-sub">
        <a href="https://www.notion.so/nicoglennon/404ab2f97bf54e728cdbe8f552ca9ffc?v=3e5fe998eebd4524bc1babd185c71e86" target="_blank">Roadmap</a>
      </div>
    </div>


    <div class="heropage-footer-rightcontainer">
    <div class="heropage-footer-sub">
        <a id="builtby" href="https://twitter.com/nicoglennon" target="_blank">Built by <strong>Nico</strong></a>
      </div>
      ·
      <div class="heropage-footer-sub">
        <a>2019</a>
      </div>
    </div>
  </div>
</div>
<script>
   $(document).ready(() => {
     setTimeout(function(){
       $('#heroPageImage').addClass('fadeInHeroPageImage');
     }, 200);
   })
</script>
