<div class="heropage-wrapper">
   <%= render 'layouts/navbar' %>
  <div class="heropage-main">
    <div class="heropage-firstdiv">
      <div class="heropage-firstdiv-left">
        <h1 class="heropage-title">Break your simulation</h1>
        <p class="heropage-subheader">Stop reliving the same day over and over. <br /> Join <span class="heropage-subheader-telescope-span">Datascope</span> today to start tracking and improving your life each week.</p>
        <div>
          <form action="/signup" method="GET" class="heropage-form">
            <input type="email" name="email" placeholder="Enter your email address" class="heropage-form-input-email"></input>
            <input type="submit" value="Get Started" class="heropage-form-input-submit"/>
          </form>
        </div>
        <p class="heropage-alreadymember">Already on Datascope? <a href="/login" class="heropage-alreadymember-login">Sign in</a>.</p>
      </div>
      <div class="heropage-firstdiv-right">
        <%= image_tag("vogue.jpg", class: "heroPage-mainImage", :alt => "telescope", id: 'heroPageImage') %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    setTimeout(function(){
      $('#heroPageImage').addClass('fadeInHeroPageImage');
    }, 150);
  })
</script>
