<div class="heropage-wrapper">
   <%= render 'layouts/navbar' %>
  <div class="heropage-main">
    <div class="heropage-firstdiv">
      <div class="heropage-firstdiv-left">
        <h1 class="heropage-title">Break your simulation</h1>
        <p class="heropage-subheader">Stop reliving the same day over and over. Join <span class="heropage-subheader-telescope-span">Percent</span> today to track and improve your life each week.</p>
        <div class="heropage-formcontainer">
          <form action="/signup" method="GET" class="heropage-form">
            <input type="email" name="email" placeholder="Enter your email address" class="heropage-form-input-email"></input>
            <input type="submit" value="Get Started" class="heropage-form-input-submit"/>
          </form>
        </div>
        <p class="heropage-alreadymember">Already on Percent? <a href="/login" class="heropage-alreadymember-login">Sign in</a>.</p>
      </div>
      <div class="heropage-firstdiv-right">
        <%= image_tag("park.jpg", class: "heroPage-mainImage", :alt => "telescope", id: 'heroPageImage') %>
      </div>
    </div>
  </div>
  <div class="heropage-footer">
    <div class="heropage-footer-leftcontainer">
      <div class="heropage-footer-sub">
        <a href="mailto:nico@percent.me">Contact</a>
      </div>
      ·
      <div class="heropage-footer-sub">
        <a href="https://nico.gl?ref=percent">About</a>
      </div>
      ·
      <div class="heropage-footer-sub">
        <a href="#">Terms</a>
      </div>
    </div>


    <div class="heropage-footer-rightcontainer">
    <div class="heropage-footer-sub">
        <a id="builtby" href="https://nico.gl?ref=percent">Built in <strong>Chicago</strong></a>
      </div>
      ·
      <div class="heropage-footer-sub">
        <a>2019</a>
      </div>
    </div>
  </div>
</div>
<script>
   $(document).ready(() => {
     setTimeout(function(){
       $('#heroPageImage').addClass('fadeInHeroPageImage');
     }, 200);
   })
</script>
