div.heropage-wrapper {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  padding: 0px 15px;
}

div.heropage-main {
  margin: auto;
  padding: 60px 0px 0px 0px;
}

img.heroPage-mainImage {
  width: 100%;
  /* transform: translateY(-15px); */
}

img.fadeInHeroPageImage {
  transform: translateY(0px);
  opacity: 0.85;
  transition: all 1200ms cubic-bezier(0,1,.5,1); 
}

div.heropage-firstdiv {
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  grid-gap: 20px;
}

div.heropage-firstdiv-left {
  margin-top: 255px;
}

div.heropage-firstdiv-right {
  /* margin-top: 25px; */
}

h1.heropage-title {
  font-weight: bold;
  font-size: 4em;
  margin: 15px 0px;
  line-height: 1em;
}

p.heropage-subheader {
  margin: 0px;
  font-size: 1.6em;
  color: hsl(0, 0%, 61%);
  line-height: 1.25em;
}

span.heropage-subheader-telescope-span {
  color: hsl(0, 0%, 30%);
  font-weight: 500;
}

div.heropage-formcontainer {
  margin-top: 30px;
}

input.heropage-form-input-email {
  border: none;
  width: 66%;
  background-color: hsla(0,0%,0%,0.05);
  border: 2px solid hsla(0,0%,0%,0.00);
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 18px;
  transition: border 200ms ease;
}

input.heropage-form-input-email:focus {
  border: 2px solid hsla(0,0%,0%,0.2);
}

input.heropage-form-input-submit {
  border: none;
  background-color: #252525;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 150ms ease-out;
}

input.heropage-form-input-submit:hover {
  cursor: pointer;
  background-color: #343434;
  transition: background-color 150ms ease-out;
}

input.heropage-form-input-submit:focus {
  background-color: #343434;
}

p.heropage-alreadymember {
  color: hsl(0, 0%, 50%);
  margin-top: 20px;
  font-size: 0.9em;
}

a.heropage-alreadymember-login {
  color: hsl(0, 0%, 20%);
}

a.heropage-alreadymember-login:visited {
  color: hsl(0, 0%, 20%);
}

div.heropage-footer {
  font-weight: 500;
  padding: 60px 50px 30px 50px;
  float: right;
  width: 100%;
  color: #252525;
  font-size: 0.95em;
}

div.heropage-footer-leftcontainer {
  display: inline-block;
}

div.heropage-footer-rightcontainer {
  float:right;
  text-align: right;
}

div.heropage-footer-sub {
  display: inline-block;
  transition: color 300ms ease;
}

div.heropage-footer-sub a {
  text-decoration: none;
  padding: 7px;
  border-radius: 5px;
  transition: background-color 300ms ease;
}

a#builtby:hover {
  background-color: hsl(0, 0%, 92%);
}

div.heropage-footer-leftcontainer div:hover {
  color: hsl(0, 0%, 55%);
}

@media screen and (max-width: 700px) {

  div.heropage-main {
    padding-top: 50px;
  }

  div.heropage-firstdiv {
    /* padding: 0px 15px; */
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }


  div.heropage-firstdiv-left {
    margin-top: 20px;
    order: 2;
  }

  div.heropage-firstdiv-right {
    order: 1;
    margin-top: 0px;
  }

  h1.heropage-title {
    font-size: 3.5em;
    margin-top: 0px;
    text-align: center;
  }


  p.heropage-subheader {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  form.heropage-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  input.heropage-form-input-email {
    width: 100%;
  }

  div.heropage-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 30px;
    padding-top: 60px;
  }

  div.heropage-footer div {
    text-align: center;
  }

}