div.heropage-wrapper {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  padding: 0px 15px;
}

div.heropage-main {
  margin: auto;
  padding: 5px 0px 0px 0px;
}

img.heroPage-mainImage {
  width: 100%;
  transform: translateY(20px);
  opacity: 0;
}

img.fadeInHeroPageImage {
  transform: translateY(0px);
  opacity: 1;
  transition: all 1200ms cubic-bezier(0,1,.5,1);
}

div.heropage-firstdiv {
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  grid-gap: 20px;
  margin-bottom: 100px;
}

div.heropage-firstdiv-left {
  margin-top: 200px;
}

div.heropage-firstdiv-right {
  /* margin-top: 25px; */
}

h1.heropage-title {
  font-weight: bold;
  font-size: 4em;
  margin: 15px 0px;
  line-height: 1em;
}

p.heropage-subheader {
  margin: 0px;
  font-size: 1.6em;
  color: hsl(0, 0%, 61%);
  line-height: 1.25em;
}

span.heropage-subheader-telescope-span {
  color: hsl(0, 0%, 30%);
  font-weight: 500;
}

div.heropage-formcontainer {
  margin-top: 30px;
}

input.heropage-form-input-email {
  border: none;
  width: 66%;
  max-width: 300px;
  background-color: hsla(0,0%,0%,0.05);
  border: 2px solid hsla(0,0%,0%,0.00);
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 18px;
  transition: border 200ms ease;
}

input.heropage-form-input-email:focus {
  border: 2px solid hsla(0,0%,0%,0.2);
}

input.heropage-form-input-submit {
  border: none;
  background-color: #252525;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 150ms ease-out;
}

input.heropage-form-input-submit:hover {
  cursor: pointer;
  background-color: #343434;
  transition: background-color 150ms ease-out;
}

input.heropage-form-input-submit:focus {
  background-color: #343434;
}

p.heropage-alreadymember {
  color: hsl(0, 0%, 50%);
  margin-top: 20px;
  font-size: 0.9em;
}

a.heropage-alreadymember-login {
  color: hsl(0, 0%, 20%);
}

a.heropage-alreadymember-login:visited {
  color: hsl(0, 0%, 20%);
}

div.heropage-footer {
  font-weight: 500;
  padding: 120px 50px 40px 50px;
  float: right;
  width: 100%;
  color: #252525;
  font-size: 0.95em;
}

div.heropage-footer-leftcontainer {
  display: inline-block;
}

div.heropage-footer-rightcontainer {
  float:right;
  text-align: right;
}

div.heropage-footer-sub {
  display: inline-block;
  transition: color 300ms ease;
}

div.heropage-footer-sub a {
  text-decoration: none;
  padding: 7px;
  border-radius: 5px;
  transition: background-color 300ms ease;
}

a#builtby:hover {
  background-color: hsl(0, 0%, 92%);
}

div.heropage-footer-leftcontainer div:hover {
  color: hsl(0, 0%, 55%);
}

div.heropage-producthuntbadge {
  filter: saturate(500%) grayscale(1);
  margin-bottom: 20px;
}

div.heropage-featuresdiv {
  padding: 20px;
}

div.heropage-feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px auto;
  padding: 25px 30px;
  /* border: 3px solid lightgray; */
  border-radius: 20px;
}

div.heropage-hr {
  height: 1px;
  background: rgb(242, 235, 230);
  outline: 0;
  width: 95%;
  margin:auto;
}

h2.heropage-feature-title {
  margin-top: 55px;
  font-size: 32px;
}

p.heropage-feature-text {
  font-size: 22px;
  color: hsl(0, 0%, 55%); 
  line-height: 1.25em;
}

img.heroPage-featureImage {
  max-width: 100%;
  max-height: 400px;
}

img.heroPage-featureImage.circleCat{
  max-width: 100%;
  max-height: 350px;
}

div.heropage-feature-column.img-column {
  text-align: center;
}

h2.heropage-features-header {
  text-align: center;
  font-size: 45px;
}

div.heropage-lastdiv {
  text-align: center;
  padding: 20px;
}

div.heropage-explanation-div {
  max-width: 600px;
  margin: auto;
  margin-bottom: 60px;
}

div.heropage-explanation-subheader-div {
  padding: 25px;
  background-color: rgb(53, 53, 53);
  border-radius: 9px;
}

h3.heropage-explanation-title {
  font-size: 34px;
  margin-bottom: 5px;
}

p.heropage-explanation-text {
  font-size: 20px;
  color: hsl(0, 0%, 51%);
  line-height: 1.25em;
}

p.heropage-explanation-subheader {
  font-size: 26px;
  color: hsl(0, 0%, 93%);
  line-height: 1.25em;
  margin: 0px;
}

p.heropage-explanation-subtext {
  font-size: 16px;
  color: hsl(0, 0%, 35%);
  line-height: 1.25em;
  text-align: center;
}

h2.heropage-try-header {
  text-align: center;
  font-size: 40px;
  margin: 0px;
}

div.heropage-explanation-goals-div {
  max-width: 350px;
  margin: auto;
  margin-top: 30px;
}

div.goalLineWrapper {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 9px;
  padding: 14px 10px 14px 12px;
  margin: 0px 0px 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: background-color 200ms ease;
  display: flex;
  align-items: flex-start;
}

input.goalLineCheck {
  float: left;
  margin: 2px 9px 2px 0px;
  vertical-align: middle;
  font-size: 18px;
}

span.categoryPill-outerSpan {
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(240, 240, 240);
  font-size: 0.9em;
  min-width: 14px;
  min-height: 14px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 3px;
  box-shadow: 0px 0px 5px 0 rgb(199, 199, 199);
  transition: transform 200ms ease, background-color 300ms ease;
}

.goalLineInput{
  background-color: none;
  border: none;
  /* width: 89%; */
  display: inline-block;
  text-decoration: inherit;
  color: inherit;
  flex-grow: 1;
  margin: 0px 6px;
}

span.personal {
  background-color: rgb(255, 118, 167);
}

span.work {
  background-color: rgb(132, 116, 255);
}

div.heropage-progressbar-wrapper {
  max-width: 350px;
  margin: auto;
}

p.percentage-text {
  margin: 0;
  display: inline-block;
}

p.float-number {
  float: right;
}

progress.heropage-progressbar {
  width: 100%;
  margin: auto;

}

div.heropage-gifwrapper {
  width: 90%;
  margin: auto;
}

img.heropage-gifImg {
  width: 100%;
}

@media screen and (max-width: 700px) {

  div.heropage-firstdiv {
    /* padding: 0px 15px; */
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  div.heropage-producthuntbadge {
    text-align: center;
  }


  div.heropage-firstdiv-left {
    margin-top: 20px;
    order: 2;
  }

  div.heropage-firstdiv-right {
    order: 1;
    margin-top: 0px;
  }

  h1.heropage-title {
    font-size: 3.5em;
    margin-top: 0px;
    text-align: center;
  }


  p.heropage-subheader {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  form.heropage-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  input.heropage-form-input-email {
    width: 100%;
    max-width: unset;
  }

  div.heropage-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 60px 20px;
  }

  div.heropage-footer div {
    text-align: center;
  }

  div.heropage-feature {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 20px auto;
    padding: 10px 10px;
  }

  p.heropage-feature-text {
    font-size: 20px;
  }

  div.heropage-feature-column.img-column {
    order: 1;
  }

  div.heropage-feature-column.text-column {
    order: 2;
  }

  h2.heropage-feature-title {
    margin-top: 5px;
    font-size: 24px;
  }

  h3.heropage-explanation-title {
    font-size: 26px;
  }

  div.heropage-gifwrapper {
    width: 100%;
  }

  h2.heropage-features-header {
    font-size: 40px;
  }

  p.heropage-explanation-subheader {
    font-size: 22px;
    color: hsl(0, 0%, 93%);
    line-height: 1.25em;
    margin: 0px;
  }

}
