div.navbar-wrapper {
  padding: 5px 30px;
  margin-bottom: 30px;
  color: hsl(0, 0%, 25%);
}

a.navbar-telescope-logo-link {
  text-decoration: none;
  vertical-align: middle;
}

img.navbar-telescope-logo {
  width: 30px;
  height: 30px;
  transition: transform 150ms ease-out;
}

img.navbar-logo {
  position: fixed;
  top: 14px;
  left: 168px;
  height: 50px;
  z-index: -90;
}

img.navbar-telescope-logo:hover {
  transform: scale(1.2);
  transition: all 150ms ease-out;
}

p.navbar-telescope-logotitle {
  text-decoration: none;
  display: inline-block;
  font-size: 34px;
  margin: 0px 0px 0px 5px;
  letter-spacing: -1.5px;
  font-weight: bold;
  color: hsl(0, 0%, 25%);
  /* transform: translateY(-2px); */
}

div.navbar-float-box {
  display: inline-block;
  float: right;
}

p.navbar-wrap-box {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
}

p.navbar-sign-in {
  margin: 0px;
  padding: 10px 10px;
}

p.navbar-sign-in:hover {
  text-decoration: underline;
}

p.navbar-sign-up {
  margin: 0px;
  border: 1px hsl(0, 0%, 25%) solid;
  border-radius: 5px;
  padding: 10px 10px;
  transition: border 150ms ease-out, background-color 150ms ease-out, color 150ms ease-out;
}

p.navbar-sign-up:hover {
  border: 1px #00d7ae solid;
  background-color: #00d7ae;
  color: white;
  transition: all 150ms ease-out;
}

a.navbar-signup-link {
  margin-left: 20px;
  text-decoration: none;
  color: inherit;
}

a.navbar-signup-link:visited {
  text-decoration: none;
  color: inherit;
}
