div.navbar-wrapper {
  padding: 1px 10px;
  margin-bottom: 30px;
  color: inherit;
  /* color: hsl(0, 0%, 25%); */
}

a.navbar-telescope-logo-link {
  text-decoration: none;
  display:flex;
  align-items: center;
  float: left;
  transition: opacity 300ms ease;
}

a.navbar-telescope-logo-link:hover {
  opacity: 0.85;
}

img.navbar-telescope-logo {
  width: 32px;
  height: 32px;
  transform: rotate(90deg);
  transition: transform 250ms ease;
  opacity: 0.8;
  position: relative;
  left: 0px;
  top: 0px;
}

img.navbar-logo {
  position: fixed;
  top: 14px;
  left: 168px;
  height: 50px;
  z-index: -90;
}

p.navbar-telescope-logotitle {
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 0px 0px 0px 3px;
  /* letter-spacing: -0.5px; */
  font-weight: 500;
  color: hsl(0, 0%, 20%);
  /* transform: translateY(-2px); */
}

div.navbar-float-box {
  float: right;
  padding: 2px;
  font-weight: 500;
  font-size: 0.95em;
}

p.navbar-wrap-box {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
}

p.navbar-sign-in {
  margin: 0px;
  padding: 7px 10px;
  border-radius: 5px;
  transition: background-color 150ms ease-out;
}

p.navbar-sign-in:hover {
  background-color: hsl(0, 0%, 92%);
  transition: all 200ms ease-out;
}

p.navbar-sign-up {
  margin: 0px;
  border-radius: 5px;
  padding: 7px 10px;
  color: white;
  background-color: hsl(0, 0%, 20%);
  transition: background-color 150ms ease-out;
}

p.navbar-sign-up:hover {
  background-color: hsl(0, 0%, 25%);
  transition: all 150ms ease-out;
}

a.navbar-signup-link {
  margin-left: 5px;
  text-decoration: none;
  color: inherit;
}

a.navbar-signin-link {
  margin-right: 5px;
  text-decoration: none;
  color: inherit;
}

a.navbar-signup-link:visited {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 700px) {
  a.navbar-signup-link {
    display: none;
  }

  a.navbar-signin-link {
    margin-right: 0px;
  }

  p.navbar-sign-in {
    background-color: hsl(0, 0%, 92%);
  }
}