div.settingsPage-wrapper {
    max-width: 950px;
    margin: auto;
    margin-top: 20px;
    padding: 0px 0px;
}

div.settingsPage-header {
    padding: 5px 15px;
    color: inherit;
    /* color: hsl(0, 0%, 25%); */
}

a.navbar-username {
    margin: 5px;
    display: inline-block;
}

div.settingsPage-body {
    padding: 60px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}
