div.signin.wrapper {
  width: 100%;
  padding: 0px 20px;
  height: 100vh;
}

div.signin.telescope-div {
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
  width: 180px;
}

a.signin.telescope-name-link:visited {
  color: inherit;
}

a.signin.telescope-name {
  margin: 5px auto 25px auto;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: hsl(0, 0%, 25%);
  text-decoration: none;
}

a.signin.telescope-name:visited {
  color: inherit;
}

div.signin.center {
  max-width: 350px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-47%);
  opacity: 0;
}

div.signin.center.fadeInSigninPage {
  opacity: 1;
  transform: translateY(-50%);
  transition: all 600ms ease;
}

h1.signin.signin-title {
  margin: 0px;
  font-weight: 500;
  font-size: 1.3em;
  color: hsl(0, 0%, 25%);
}

div.signin.form-div {
  border-radius: 9px;
  padding: 25px;
  background-color: hsla(0, 0%, 0%, 0.03);
}

div.signin-form-group {
  margin-top: 15px;
}

label.signin.form-label {
  opacity: 0.75;
}

input.signin.form-control {
  margin-top: 5px;
  border: none;
  width: 100%;
  background-color: hsla(0,0%,0%,0.05);
  border: 2px solid hsla(0,0%,0%,0.00);
  padding: 10px;
  border-radius: 5px;
  transition: border 200ms ease;
}


input.signin.form-control:focus {
  border: 2px solid hsla(0,0%,0%,0.2);
}

input.signin.btn {
  margin-top: 15px;
  width: 100%;
  border: none;
  background-color: #252525;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}

input.signin.btn:hover {
  cursor: pointer;
  background-color: #343434;
}

input.signin.btn:focus {
  background-color: #343434;
}

p.signin.not-member-yet {
  color: hsl(0, 0%, 50%);
  font-size: 0.9em;
}

a.signin.not-member-yet-link {
  color: hsl(0, 0%, 20%);
}

a.signin.not-member-yet-link:visited {
  color: hsl(0, 0%, 20%);
}

ul.signin.errors {
  color: #efefef;
  margin: 10px auto 0px auto;
  padding: 10px 20px 10px 30px;
  background-color: #f8184aad;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {

  div.signin.center {
    margin-top: 70px;
    display: block;
    top: 0;
    transform: translateY(3%);
  }

  div.signin.center.fadeInSigninPage {
    transform: translateY(0%);
  }

}
