<div class='navbar-wrapper'>
  <a href="/" class="navbar-telescope-logo-link">
    <%= image_tag("percent-circle.svg", class: "navbar-telescope-logo", :alt => "logo") %>
    <p class="navbar-telescope-logotitle">Percent</p>
  </a>
  <div class="navbar-float-box">
    <a href='/login' class="navbar-signin-link">
      <p class="navbar-wrap-box navbar-sign-in">Sign In</p>
    </a>
    <a href='/signup' class="navbar-signup-link">
      <p class="navbar-wrap-box navbar-sign-up">Sign Up</p>
    </a>
  </div>
</div>
