<div class='navbar-wrapper'>
  <a href="/" class="navbar-telescope-logo-link">
    <p class="navbar-telescope-logotitle">Datascope</p>
  </a>
  <div class="navbar-float-box">
    <a href='/login' class="navbar-signin-link">
      <p class="navbar-wrap-box navbar-sign-in">Sign In</p>
    </a>
    <div class="navbar-separator-div" ></div>
    <a href='/signup' class="navbar-signup-link">
      <p class="navbar-wrap-box navbar-sign-up">Sign Up</p>
    </a>
  </div>
</div>
